{% extends 'base.html' %}
{% block content %}
    <img style="border-radius: 10px" src="{{ advertisement.photo.url }}" alt="Photo">
    <h3 class="mt-3 mb-3">{{ advertisement.title }}</h3>
    <p><b>Описание:</b> {{ advertisement.description }}</p>
    <p><b>Статус:</b> {{ advertisement.get_status_display }}</p>
    <p><b>Категория:</b> {{ advertisement.category }}</p>
    <p><b>Цена:</b> {{ advertisement.price }} сом</p>
    <p><b>Автор:</b> <a class="text-dark" style="text-decoration: none" href="{% url 'accounts:user_detail' advertisement.author.pk %}">{{ advertisement.author }}</a></p>
    <p>{{ advertisement.created_at }}</p>
    <a class="btn btn-primary" href="{% url 'webapp:update_advertisement' advertisement.pk %}">Изменить</a>
    <h2 class="mt-3">Комментарии:</h2>
    <div class="list-group">
        {% for comment in advertisement.comment_set.all %}
            <div class="list-group-item">
                <p class="mb-0">{{ comment.text }}</p>
                <small class="text-muted">Автор: <a class="text-dark" style="text-decoration: none" href="{% url 'accounts:user_detail' advertisement.author.pk %}">{{ comment.author }}</a></small>
            </div>
        {% empty %}
            <div class="list-group-item">
                Нет комментариев.
            </div>
        {% endfor %}
    </div>
{% endblock %}